In [ ]:
import sqlite3
con = sqlite3.connect("../Projet_Web/base.db")
cur = con.cursor()


#cur.execute("DROP TABLE Celestial")
#cur.execute("CREATE TABLE Celestial(name, type, constellation, ra, dec, magnitude, url)")
rows = cur.execute("""SELECT COUNT(*) 
FROM Celestial
WHERE constellation = 'NULL';
""").fetchall()
print(rows)

[(5,)]

In [93]:
res = cur.execute("""SELECT name, magnitude
FROM Celestial
WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula')
ORDER BY magnitude ASC NULLS LAST LIMIT 4
""").fetchall()
print(res)

res = cur.execute("PRAGMA table_info(Celestial)").fetchall()
print(res)

con.commit()

[('M8', 5.8), ('M16', 6.0), ('M17', 7.0), ('NGC7023', 7.2)]
[(0, 'name', '', 0, None, 0), (1, 'type', '', 0, None, 0), (2, 'constellation', '', 0, None, 0), (3, 'ra', '', 0, None, 0), (4, 'dec', '', 0, None, 0), (5, 'magnitude', '', 0, None, 0), (6, 'url', '', 0, None, 0)]

In [3]:
from astropy.coordinates import SkyCoord
import astropy.units as u

# On crée l'objet avec les coordonnées brutes officielles
# c = SkyCoord(ra='00h48m26s', dec='+85d15m18s', frame='icrs')

# print(f"RA en degrés : {c.ra.degree}")
# print(f"DEC en degrés : {c.dec.degree}")

RA en degrés : 12.108333333333333
DEC en degrés : 85.255

In [ ]:
from langchain_google_genai import ChatGoogleGenerativeAI
from google import genai
from langchain.agents import create_agent
from langchain.tools import tool
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits.sql.base import create_sql_agent

llm = ChatGoogleGenerativeAI(
    model="gemini-2.5-flash-lite",
    api_key='AIzaSyADsJf5c3lcAdb49OAzZK9Oo505xQIZ-qU'
)

db = SQLDatabase.from_uri("sqlite:///base.db", sample_rows_in_table_info=0)

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

print(f"Dialect: {db.dialect}")
print(f"Available tables: {db.get_usable_table_names()}")
print(f'Sample output: {db.run("SELECT * FROM Celestial LIMIT 5;")}')

prompt = f"""You are an space sql agent, your goal is to give useful enrich informations 
to the user based on your knowledge and the {db.dialect} query you can execute on the database.BEFORE writing ANY SQL query:

CRITICAL WARNING: 
The standard 'sql_db_schema' tool is BROKEN for this database and returns empty results "()".

MANDATORY STRATEGY:
1. ALWAYS CALL sql_db_list_tables and dont invent table
2. ALWAYS CALL check_table_columns on the relevant table AND DO NOT TRUST sql_db_schema
3. ALWAYS call get_sample_rows to inspect example values if the names you saw is not on the column/table (
4. ALWAYS Inspect the differents values for each column using check_column_values
5. ALWAYS call sql_db_query_checker before sql_db_query. DONT INCLUDE NONE VALUES
6. NEVER CREATE/DELETE/UPDATE a table. 
DONT USE "Create table".
If the table you saw dont exists, CALL sql_db_list_table and look at the others table

NEVER INCLUDE non-specified or None values into the query/result even if its mean to create another query
Question: {{input}}
Agent Scratchpad: {{agent_scratchpad}}
"""

@tool
def get_sample_rows(table: str) -> str:
    """Retourne quelques exemples de lignes d'une table."""
    if table not in db.get_usable_table_names():
        return f"Error: Table {table} does not exist."
    return db.run(f"SELECT * FROM {table} LIMIT 7;")

@tool
def check_table_columns(table: str) -> str:
    """Useful to get the column names when sql_db_schema fails."""
    clean_table = table.strip("'").strip('"')
    return db.run(f"PRAGMA table_info({clean_table});")

@tool
def check_column_values(input_str: str) -> str:
    """
    Useful to verify the exact spelling of categorical values in ANY column.
    INPUT FORMAT: "table_name, column_name" (separated by a comma).
    Example: "Celestial, type" or "Celestial, constellation".
    """
    try:
        parts = input_str.split(",")
        if len(parts) < 2:
            return "Error: Input must be 'table, column'"
            
        table = parts[0].strip().strip("'").strip('"')
        column = parts[1].strip().strip("'").strip('"')
        
        if table not in db.get_usable_table_names():
            return f"Error: Table {table} does not exist."
            
        return db.run(f"SELECT DISTINCT {column} FROM {table} LIMIT 20;")
        
    except Exception as e:
        return f"Error inspecting values: {e}"


tools = [*toolkit.get_tools(), get_sample_rows, check_table_columns]

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type="zero-shot-react-description",
    extra_tools=[get_sample_rows,check_table_columns],
    suffix=prompt,
    handle_parsing_errors=True
)
query = "Donne-moi les 4 nébuleuses les plus visibles (magnitude faible) et fait moi une belle description de chaque objet"

try:
    response = agent_executor.invoke(query)
    print("\n--- RÉPONSE FINALE ---")
    print(response['output'])
except Exception as e:
    print(f"Erreur : {e}")

# print(response)

Dialect: sqlite
Available tables: ['Celestial']
Sample output: [('M1', 'Supernova_remnant', 'Taurus', 83.63320833333333, 22.01447222222222, 8.4, 'http://messier.seds.org/Jpg/m1.jpg'), ('M2', 'Globular_Cluster', 'Aquarius', 323.3625416666667, -0.8233055555555555, 6.25, 'http://messier.seds.org/Jpg/m2.jpg'), ('M3', 'Globular_Cluster', 'Canes Venatici', 205.54679166666668, 28.375444444444447, 6.39, 'http://messier.seds.org/Jpg/m3.jpg'), ('M4', 'Globular_Cluster', 'Scorpius', 245.8975, -26.52552777777778, 5.4, 'http://messier.seds.org/Jpg/m4.jpg'), ('M5', 'Globular_Cluster', 'Inconnue', 229.64062500000003, 2.082694444444445, 5.95, 'http://messier.seds.org/Jpg/m5.jpg')]


> Entering new SQL Agent Executor chain...
Thought: The user is asking for the 4 most visible nebulae (lowest magnitude) and a description of each. I need to find a table that contains information about nebulae, their magnitudes, and descriptions.
First, I will list the tables to see what data is available.
Action: sql_db_list_tables
Action Input: CelestialThe user is asking for information about nebulae, specifically their visibility (low magnitude) and descriptions. I have identified a table named "Celestial" that likely contains this information. Now I need to inspect its columns to find the relevant ones for nebula name, magnitude, and description.
Action: check_table_columns
Action Input: Celestial[(0, 'name', '', 0, None, 0), (1, 'type', '', 0, None, 0), (2, 'constellation', '', 0, None, 0), (3, 'ra', '', 0, None, 0), (4, 'dec', '', 0, None, 0), (5, 'magnitude', '', 0, None, 0), (6, 'url', '', 0, None, 0)]The user wants to find the 4 nebulae with the lowest magnitude and their descriptions.
I have identified the "Celestial" table and its columns.
The relevant columns seem to be 'name', 'magnitude', and 'type' (to filter for nebulae). I will need to check the values in the 'type' column to confirm which ones represent nebulae.
First, I will check the distinct values in the 'type' column.
Action: sql_db_query
Action Input: SELECT DISTINCT type FROM Celestial[('Supernova_remnant',), ('Globular_Cluster',), ('Open_Cluster',), ('Nebula',), ('Association_of_stars',), ('Planetary_Nebula',), ('Galaxy',), ('Double_star',), ('Star_cluster_+_Nebula',), ('HII_Ionized_region',), ('Object_of_other/unknown_type',), ('Reflection_Nebula',)]The user is asking for the 4 most visible nebulae (lowest magnitude) and a description of each.
I have identified the table "Celestial" and inspected its columns.
I also inspected the distinct values in the 'type' column and found that 'Nebula', 'Planetary_Nebula', and 'Reflection_Nebula' are relevant types for nebulae.

Now, I need to:
1. Filter the "Celestial" table to include only rows where the 'type' is 'Nebula', 'Planetary_Nebula', or 'Reflection_Nebula'.
2. Order these filtered results by 'magnitude' in ascending order (lowest magnitude first).
3. Select the top 4 results.
4. Retrieve the 'name', 'magnitude', and 'type' for these 4 nebulae.
5. I will need to check the 'description' of each object, but there is no 'description' column. I will need to use the 'url' column to find more information.

First, I will construct a query to get the names, magnitudes, and types of the top 4 nebulae.
I will use `sql_db_query_checker` to validate the query.
Action: sql_db_query_checker
Action Input: SELECT name, magnitude, type, url FROM Celestial WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula') ORDER BY magnitude LIMIT 4```sqlite
SELECT name, magnitude, type, url FROM Celestial WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula') ORDER BY magnitude LIMIT 4
```The user wants the 4 most visible nebulae (lowest magnitude) and a description of each. I have already identified the relevant table ("Celestial") and the types of objects that are nebulae. I have also constructed a query to get the names, magnitudes, types, and URLs of the top 4 nebulae based on magnitude. Now I need to execute this query to get the data. After that, I will need to use the 'url' column to try and get descriptions for each object, as there is no direct 'description' column in the table.

Action: sql_db_query
Action Input: SELECT name, magnitude, type, url FROM Celestial WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula') ORDER BY magnitude LIMIT 4[('NGC2237', None, 'Nebula', 'https://upload.wikimedia.org/wikipedia/commons/5/5c/Earth-moon.jpg'), ('NGC6729', None, 'Nebula', 'PLACEHOLDER_URL'), ('M8', 5.8, 'Nebula', 'http://messier.seds.org/Jpg/m8.jpg'), ('M16', 6.0, 'Nebula', 'http://messier.seds.org/Jpg/m16.jpg')]The user wants the 4 most visible nebulae (lowest magnitude) and a description of each.
I have the names, magnitudes, types, and URLs of the top 4 nebulae. However, two of them have `None` for magnitude, which is problematic for ordering by magnitude. The provided URLs also need to be inspected to get descriptions.

First, I need to re-evaluate the query to handle `None` magnitudes. I should prioritize non-null magnitudes and then consider objects with `None` magnitude if necessary. However, the prompt implies ordering by magnitude, so I should try to get valid magnitudes.

Looking at the results, 'NGC2237' and 'NGC6729' have `None` for magnitude. This means they cannot be reliably ordered by magnitude. I should re-query to get only objects with a valid magnitude and then limit to 4.

Let's try to get the top 4 nebulae with a non-null magnitude.
Action: sql_db_query_checker
Action Input: SELECT name, magnitude, type, url FROM Celestial WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula') AND magnitude IS NOT NULL ORDER BY magnitude LIMIT 4```sqlite
SELECT name, magnitude, type, url FROM Celestial WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula') AND magnitude IS NOT NULL ORDER BY magnitude LIMIT 4
```The user wants the 4 most visible nebulae (lowest magnitude) and a description of each.
I have identified the relevant table ("Celestial") and the types of objects that are nebulae. I have also refined the query to exclude nebulae with `NULL` magnitudes, as these cannot be reliably sorted by magnitude. The query now selects the name, magnitude, type, and URL for nebulae with non-null magnitudes, ordered by magnitude in ascending order, and limited to 4 results.

Now I will execute this query to get the data and then attempt to retrieve descriptions using the provided URLs.
Action: sql_db_query
Action Input: SELECT name, magnitude, type, url FROM Celestial WHERE type IN ('Nebula', 'Planetary_Nebula', 'Reflection_Nebula') AND magnitude IS NOT NULL ORDER BY magnitude LIMIT 4[('M8', 5.8, 'Nebula', 'http://messier.seds.org/Jpg/m8.jpg'), ('M16', 6.0, 'Nebula', 'http://messier.seds.org/Jpg/m16.jpg'), ('M17', 7.0, 'Nebula', 'http://messier.seds.org/Jpg/m17.jpg'), ('NGC7023', 7.2, 'Nebula', 'https://upload.wikimedia.org/wikipedia/commons/3/3c/Iris_Nebula_-_NGC_7023_-_Caldwell_4.jpg')]The user wants the 4 most visible nebulae (lowest magnitude) and a description of each.
I have retrieved the following nebulae with their magnitudes and URLs:
1. M8: magnitude 5.8, type Nebula, url http://messier.seds.org/Jpg/m8.jpg
2. M16: magnitude 6.0, type Nebula, url http://messier.seds.org/Jpg/m16.jpg
3. M17: magnitude 7.0, type Nebula, url http://messier.seds.org/Jpg/m17.jpg
4. NGC7023: magnitude 7.2, type Nebula, url https://upload.wikimedia.org/wikipedia/commons/3/3c/Iris_Nebula_-_NGC_7023_-_Caldwell_4.jpg

Now I need to get descriptions for each of these objects using their respective URLs. Since I cannot directly access external websites, I will provide a summary based on common knowledge about these objects, as is typical for this kind of agent.

M8 (Lagoon Nebula): A prominent emission nebula in Sagittarius, visible to the naked eye. It's a star-forming region containing an open cluster and a bright, compact H II region.

M16 (Eagle Nebula): Famous for the "Pillars of Creation," this is an open cluster within an H II region in Serpens. It's a region of active star formation.

M17 (Omega Nebula or Swan Nebula): A vast and bright emission nebula in Sagittarius. It's one of the most massive stellar nurseries known, containing a very young and massive open cluster.

NGC7023 (Iris Nebula): A reflection nebula in Cepheus. It's known for its beautiful blue color and is illuminated by a hot B-type star, HD 200775.

Final Answer: Here are the 4 most visible nebulae (lowest magnitude) and their descriptions:

1.  **M8 (Lagoon Nebula)**: With a magnitude of 5.8, the Lagoon Nebula is a spectacular emission nebula located in the constellation Sagittarius. It is a highly active star-forming region, home to an open cluster and a bright, dense H II region, making it a popular target for both amateur and professional astronomers.

2.  **M16 (Eagle Nebula)**: This nebula, with a magnitude of 6.0, is situated in the constellation Serpens. It is renowned for its iconic structures known as the "Pillars of Creation," which are vast columns of interstellar gas and dust where new stars are being born. M16 contains an open cluster embedded within its glowing gas.

3.  **M17 (Omega Nebula or Swan Nebula)**: Ranking third with a magnitude of 7.0, M17 is an immense and luminous emission nebula in Sagittarius. It is recognized as one of the most massive known stellar nurseries, housing an exceptionally young and massive open cluster. Its dramatic shape often resembles a swan or the Greek letter Omega.

4.  **NGC7023 (Iris Nebula)**: This reflection nebula, located in the constellation Cepheus, has a magnitude of 7.2. It is distinguished by its striking blue hue, which is produced by light from its central star, HD 200775, reflecting off the surrounding dust. The Iris Nebula is a beautiful example of a reflection nebula.

> Finished chain.

--- RÉPONSE FINALE ---
Here are the 4 most visible nebulae (lowest magnitude) and their descriptions:

1.  **M8 (Lagoon Nebula)**: With a magnitude of 5.8, the Lagoon Nebula is a spectacular emission nebula located in the constellation Sagittarius. It is a highly active star-forming region, home to an open cluster and a bright, dense H II region, making it a popular target for both amateur and professional astronomers.

2.  **M16 (Eagle Nebula)**: This nebula, with a magnitude of 6.0, is situated in the constellation Serpens. It is renowned for its iconic structures known as the "Pillars of Creation," which are vast columns of interstellar gas and dust where new stars are being born. M16 contains an open cluster embedded within its glowing gas.

3.  **M17 (Omega Nebula or Swan Nebula)**: Ranking third with a magnitude of 7.0, M17 is an immense and luminous emission nebula in Sagittarius. It is recognized as one of the most massive known stellar nurseries, housing an exceptionally young and massive open cluster. Its dramatic shape often resembles a swan or the Greek letter Omega.

4.  **NGC7023 (Iris Nebula)**: This reflection nebula, located in the constellation Cepheus, has a magnitude of 7.2. It is distinguished by its striking blue hue, which is produced by light from its central star, HD 200775, reflecting off the surrounding dust. The Iris Nebula is a beautiful example of a reflection nebula.